<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="header">
    <h1>Choose & Cruise</h1>
    <p>A <b>better</b> way to shop.</p>
  </div>

  <div class="navbar">
    <a href="../View/Index.html" class="active">Home</a>

    <a href="../View/SearchForACar/SearchForACar.html">Search for a car</a>
    <!--
    <a href="#">SELL</a>
  -->
    <a href="../View/header/login.html" class="right">Login</a>
    <a href="#" class="right">Sign Up</a>
  </div>

</body>

</html>
