<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <script src="../Libraries/jquery-3.3.1.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../View/styles.css">
</head>

<body>

  <div class="header">
    <h1>Choose & Cruise</h1>
    <p>A <b>better</b> to shop.</p>
  </div>

  <div class="navbar">
    <a href="#" class="active">Home</a>

    <a href="#">Search for a car</a>
    <!--
    <a href="#">SELL</a>
  -->
    <a href="#" class="right">Login</a>
    <a href="#" class="right">Sign Up</a>
  </div>

  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="search_dropdown_container">
      Make:<select placeholder="Make" name="make" id="make_dropdown" />
      <option value="loading">Loading...</option></select>
      &nbsp;Model:<select placeholder="Model" name="model" id="model_dropdown" />
      <option value="loading">Loading...</option></select>
      &nbsp;Year:<select placeholder="Year" name="year" id="year_dropdown" />
      <option value="loading">Loading...</option></select>
      &nbsp;<button type="button" id="submitCarSearch">Submit</button>
    </div>
    <table id="cartable"></table>

  </div>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>
  <script src="../View/index_ContentView_JQuery.js"></script>

</body>

</html>
