<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="../Libraries/jquery-3.3.1.js"></script>
  <script src="../View/Index/JS/Index.js"></script>
  <link rel="stylesheet" href="../View/styles.css">
</head>

<body>
  <!-- **Header div**
    Loaded using: ../View/Index/JS/Index.js
  -->
  <div class="header" id="header"></div>

  <!-- ** Main div **
    Main content area of this page.
  -->
  <div class="main">
    <h2>Main Landing page</h2>
    <h3>TO DO:</h3>
    <ul>
      <li>Delivery service image</li>
      <li>KBB image</li>
      <li>Texas-wide Selection image</li>
    </ul>
  </div>

  <!-- **Footer div**
    Loaded using: ../View/Index/JS/Index.js
  -->
  <div class="footer" id="footer"></div>

</body>

</html>
