<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Page Title</title>
    <script src="../Libraries/jquery-3.3.1.js"></script>
    <script src="../View/Index/JS/Index.js"></script>
    <link rel="stylesheet" href="../View/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!-- Header div -->
    <div class="header" id="header"></div>

    <div class="main">
      <h2>PLACEHOLDER</h2>
      <h3>Main landing page</h3>
    </div>

    <!-- Footer Div -->
    <div class="footer" id="footer"></div>

  </body>

</html>
